<!-- <html>
  <body>
    <h2>SlackChatCatcher</h2>
    <form action="{{url_for('index')}}" method="post">
      {% if message == "post" %}
        <p>Google Spread Sheet is updated</p>
      {% else %}
        <p>Enter Slack-channel and Sheet-ID:</p>
      {% endif %}
      <p><input type="text" name="channel" placeholder="SLACK CHANNEL" /></p>
      <p><input type="text" name="sheet-id" placeholder="SHEET ID" /></p>
      <p><input type="submit" value="submit" /></p>
    </form>
  </body>
</html> -->

{% extends 'bootstrap/base.html' %}
{% block scripts %}
  {{ super() }}
  {{ datepicker.loader() }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}
{% block content %}
<h1>SlackChatCatcher</h1>
  <form class="verticalform" action="{{url_for('index')}}" method="post">
    {% if message == "post" %}
    <p>Google Spread Sheet is updated</p>
    {% else %}
    <p>Enter Slack-channel and Sheet-ID:</p>
    {% endif %}
    <p><input type="text" name="channel" placeholder="SLACK CHANNEL" /></p>
    <p><input type="text" name="sheet-id" placeholder="SHEET ID" /></p>
    <p>
      <input type="text" class="form-control dp" name="start_date"/>
      <input type="text" class="form-control dp" name="end_date"/>
    </p>
    <p><input type="submit" value="submit" /></p>
  </form>
{% endblock %}
